footer{
    background-color:blueviolet;
    text-align: center;
    padding: 20px;
    position:fixed;
    width:100%;
    bottom:0;
}
body{
    margin:0;
}
h1{
    text-align: center;
    color:blue;
    background-color:rgb(39, 184, 80);
    position: relative;
    margin:0px;
    width:100%;
}
.container{
    width:100%;
    text-align: center;
    background-color: rgb(156, 178, 14);
}