.login-form{
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.login-form h2{
    text-align: center;
    margin: 0;
}
.login-form label{
    margin-bottom: 5px;
    font-weight: bold;
}
.login-form input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-form button{
    padding: 7px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-form button:hover{
    background-color: #b58b18;
}
@media (max-width:320px) {
    .login-form{
        width: 80%;
        margin: 20px auto;
        background-color: blue;
    } 
} 
@media (max-width:768px) {
    .login-form{
        width:60%;
        margin:20px auto;
        background-color: #b58b18;
    }
}
@media (max-width:425px) {
    .login-form{
        width:90%;
        margin:20px auto;
        background-color: #b5186e;
    }
}
@media (max-width:375px) {
    .login-form{
        width:65%;
        margin:20px auto;
        background-color: #18b518;
    }
}
@media (min-width:1025px) {
    .login-form{
        width:60%;
        margin:20px auto;
        background-color: hsl(192, 77%, 40%);
    }
}
